<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All Favorites Videos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @videos.count %> videos out of our <%= Video.count %> on our website.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @videos.each do |video| %>
      <%video.tags.each do |tag| %>
        <% if tag.favorite == true %>
          <div class="col-4">
            <div class="video-card">
              <div class="video-card-image">
                <iframe width="350" height="310" src=<%= video.url.sub("watch?v=", "embed/") %>  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="video-card-actions">
                <div class="card-tags">
                  <% video.tags.each do |tag| %>
                    <span>
                      <%= link_to tag do %>
                        <%= tag.category %>
                      <% end %>
                      <%= link_to tags_path(tag), method: :delete, data: { confirm: "Are you sure?" } do %>
                        <i class="fas fa-times"></i>
                      <% end %>
                    </span>
                  <% end %>
                  <%= link_to new_video_path(tag) do %>
                    <i class="fas fa-plus"></i>
                  <% end %>
                </div>
                <h4>Title: <%= video.title %></h4>
                <%= link_to 'More info', video_path(video) %>
                <%= link_to 'Edit', edit_video_path(video), class: 'ml-3 text-warning' %>
                <%= link_to "Remove", video_path(video),
                    method: :delete, 
                    data: { confirm: "Are you sure?" },
                    class: 'ml-3 text-danger'
                %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
